h1{
    text-align: center;
    background-color: rgb(97, 32, 218);
}
.GroBtn{
    margin-left: 438px;
}
table{
    background-color: rgb(128, 128, 128);
    border: 4px solid black;
}
.mahi{
    text-align: center;
} 